[submodule "freedesktop"]
	path = freedesktop
	url = git@github.com:lcpz/awesome-freedesktop
[submodule "lain"]
	path = lain
	url = git@github.com:lcpz/lain
[submodule "shifty"]
	path = shifty
	url = git@github.com:bioe007/awesome-shifty
[submodule "revelation"]
	path = revelation
	url = git@github.com:guotsuan/awesome-revelation
[submodule "cyclefocus"]
	path = cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus.git
